@use 'sass:math';
/* work list */
.work-list {
  .cate-swiper {
    padding: 0 2rem;
    margin-bottom: 6.4rem;
    margin-top: 1.6rem;
    &.fixed {
      position: fixed;
      top: 0;
      padding: 1rem 1.2rem;
      margin: 0;
      width: 100%;
      background-color: $white-color;
      left: 0;
    }
  }
  .swiper-slide {
    width: auto;
  }
  .work-sortItem {
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      opacity: 0;
      left: -0.1rem;
      top: -0.1rem;
    }
    .lbl {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 4.5rem;
      padding: 0.8rem 1.6rem;
      border-radius: 3rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $black-color;
      cursor: pointer;
    }
    input:checked + .lbl {
      color: $white-color;
      background-color: $coral-color;
      font-weight: 800;
      &::before {
        content: '';
      }
    }
  }
}
.work-wrap {
  .grid-item img {
    width: 100%;
  }
  .grid {
    box-sizing: border-box;
  }
  .grid-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem 0rem;
    img {
      border-radius: -vw(40);
    }
    a {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .context-box {
      position: absolute;
      top: 3rem;
      left: 3rem;
      text-align: left;
      .tit {
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 2.8rem;
        color: $white-color;
      }
      .subtit {
        margin-top: 1rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: $white-color;
      }
      .txt {
        margin-top: 0.6rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $white-color;
        opacity: 0.6;
        word-break: keep-all !important;
        @include ellipsis($line: 2);
      }
    }
  }
  .grid-item.width-50 {
    width: 100%;
  }
}

/* work */
.pc-break {
  display: none;
}
.view-page {
  .inner {
    padding: 0;
  }
  .view-inner {
    padding: 0 3.2rem;
  }
  .sub-tit {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 5.7rem;
    padding: 0;
  }
  .sub-txt-box {
    margin-top: 6.6rem;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .info-box {
    display: flex;
    row-gap: 1.2rem;
    flex-direction: column;
    margin-top: 2rem;
    dl {
      display: flex;
      align-items: flex-start;
      gap: 1.6rem;
      text-transform: uppercase;
    }
    dt {
      font-size: 1.5rem;
      font-weight: 500;
      color: #777;
    }
    dd {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  .tag-box {
    display: flex;
    gap: 0.8rem;
    margin: 4.8rem 0;
    .tag {
      padding: 0 1.6rem;
      border-radius: $br-100;
      background-color: #f5f5f5;
      font-size: 1.5rem;
      color: #666;
      font-weight: 400;
      text-align: center;
      line-height: 3.6rem;
      &::before {
        content: '#';
        display: inline-block;
      }
    }
  }
  .visual-img-box {
    text-align: center;
    background-color: #fafafa;
    img {
      max-width: 100%;
    }
  }
  .next-page-box {
    position: relative;
    height: 32rem;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1.6rem;
      height: 100%;
      padding: 0 5.4rem;
      color: $white-color;
      font-size: 3.2rem;
      line-height: 3.8rem;
      font-family: 'Pretendard';
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      .label {
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        opacity: 0.7;
      }
    }
  }
  + .footer {
    margin-top: 0;
  }

  &.news {
    .info-box {
      margin-top: 6.6rem;
      margin-bottom: 2.4rem;
    }
    .visual-img-box {
      margin-top: 4.8rem;
    }
  }
}
.detail-area {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
  img {
    max-width: 100%;
  }
  .detail-cell {
    width: 100%;
    height: auto;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
  &.-cms {
    .-con1 {
      height: 50rem;
      padding-top: 8rem;
      font-size: 2.8rem;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      .device-image {
        position: relative;
        width: 36.5rem;
        height: 28.7rem;
        margin: 0 auto;
        margin-top: 2rem;
        background: url(../img/work/kbcms/img-desktop-angle.png) no-repeat 0 0 / cover;
        z-index: 2;
      }
      .device-image-inner {
        position: absolute;
        top: 1.1rem;
        left: 1.4rem;
        width: calc(100% - 2.8rem);
        height: calc(100% - 10rem);
        z-index: 1;
        overflow: auto;
      }
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */

/* 테블릿 */
@media only screen and (min-width: 1024px) {
  /* work list */
  .work-wrap {
    .grid-item img {
      width: 100%;
    }
    .grid {
      box-sizing: border-box;
    }
    .grid-item {
      width: 50%;
      box-sizing: border-box;
      padding: 2rem;
      .context-box {
        top: 3.2rem;
        left: 3.2rem;
        .tit {
          font-size: max(3.2rem, -vw(32));
          line-height: max(3.8rem, -vw(32));
        }
        .subtit {
          font-size: max(2rem, -vw(20));
          line-height: max(2.2rem, -vw(20));
        }
        .txt {
          font-size: max(1.6rem, -vw(16));
          line-height: max(2.4rem, -vw(16));
        }
      }
    }
    .grid-item.width-50 {
      width: 50%;
    }
  }
  /* work */

  //br태그 show-hide
  .mobile-break {
    display: none;
  }
  .pc-break {
    display: inline-block;
  }

  .view-page {
    .inner {
      max-width: 100%;
    }
    .view-inner {
      padding: 0 10rem;
    }
    .sub-tit {
      padding: 0;

      font-size: 8rem;
      line-height: 9.5rem;
    }
    .sub-txt-box {
      margin-top: 11rem;
      font-weight: 500;
      font-size: 3.2rem;
      color: #555;
    }
    .info-box {
      column-gap: 5.7rem;
      flex-direction: row;
      margin-top: 2.4rem;
      dt {
        font-size: 1.6rem;
      }
      dd {
        font-size: 2rem;
      }
    }
    .tag-box {
      margin: 6rem 0;
      .tag {
        font-size: 1.8rem;
        line-height: 4rem;
      }
    }
    .next-page-box {
      // width: calc(100% + 16rem);
      // margin-left: -8rem;
      height: 50rem;
      background-attachment: fixed;
      a {
        row-gap: 2rem;
        font-size: 6rem;
        line-height: 7.1rem;
        .label {
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
      }
    }
    &.news {
      .info-box {
        margin-top: 12rem;
        margin-bottom: 2rem;
      }
      .visual-img-box {
        margin-top: 4;
      }
    }
  }
  .detail-area {
    font-size: 2rem;
    line-height: 3.2rem;

    &.-cms {
      .-con1 {
        height: -vw(850);
        padding-top: 12rem;
        font-size: 4.8rem;
        .device-image {
          width: -vw(648);
          height: -vw(517);
          margin-top: 4rem;
        }
        .device-image-inner {
          top: -vw(20);
          left: -vw(25);
          width: calc(100% - -vw(40));
          height: calc(100% - -vw(180));
        }
      }

      .-con2 {
        position: relative;
        height: -vw(2608);
        background-color: #fffbe2;
        .bg-illust {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 1;
          img {
            height: -vw(353);
          }
        }
        .device-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
          img {
            position: absolute;
            width: -vw(950);
            border-radius: -vw(15);
            box-shadow: 0 0.4rem 2.5rem rgba(0, 0, 0, 0.1);
            &:first-child {
              top: -vw(211);
              left: -vw(150);
              z-index: 1;
            }
            &:nth-child(2) {
              top: -vw(1534);
              left: -vw(267);
              z-index: 3;
            }
            &:nth-child(3) {
              top: -vw(695);
              right: -vw(150);
              z-index: 2;
            }
            &:last-child {
              top: -vw(1964);
              right: -vw(228);
              z-index: 4;
            }
          }
        }
      }
    }
  }
}

/* pc */
@media only screen and (min-width: 1280px) {
  /* work list */
  .work-list {
    .cate-swiper {
      margin-top: 2.4rem;
      margin-bottom: 9rem;
      &.fixed {
        padding: 2rem 8rem;
      }
    }
    .work-sortItem {
      .lbl {
        font-size: 2.4rem;
        line-height: 4.5rem;
        padding: 0.8rem 2rem;
        color: $gray-color;
        &::before {
          content: '#';
        }
      }
    }
  }
  .view-page {
    .view-inner {
      padding: 0 26rem;
    }
  }

  .work-wrap {
    margin: 0 -2rem;
    .grid-item {
      width: 33.3333%;
      padding: 4rem 2rem;
    }
    .grid-item.width-50 {
      width: 50%;
    }
  }
}
