@use 'sass:math';
/* work list */
.work-list {
  .cate-swiper {
    padding: 0 2rem;
    margin-bottom: 6.4rem;
    margin-top: 1.6rem;
    &.fixed {
      position: fixed;
      top: 0;
      padding: 1rem 1.2rem;
      margin: 0;
      width: 100%;
      background-color: $white-color;
      left: 0;
    }
  }
  .swiper-slide {
    width: auto;
  }
  .work-sortItem {
    position: relative;
    overflow: hidden;
    input {
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      opacity: 0;
      left: -0.1rem;
      top: -0.1rem;
    }
    .lbl {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 4.5rem;
      padding: 0.8rem 1.6rem;
      border-radius: 3rem;
      text-transform: uppercase;
      font-weight: 600;
      color: $black-color;
      cursor: pointer;
    }
    input:checked + .lbl {
      color: $white-color;
      background-color: $coral-color;
      font-weight: 800;
      &::before {
        content: '';
      }
    }
  }
}
.work-wrap {
  .grid-item img {
    width: 100%;
  }
  .grid {
    box-sizing: border-box;
  }
  .grid-item {
    width: 100%;
    box-sizing: border-box;
    padding: 0.6rem 0rem;
  }
  .grid-item.width-50 {
    width: 100%;
  }
}

/* work */
.pc-break {
  display: none;
}
.view-page {
  .inner {
    padding: 0;
  }
  .view-inner {
    padding: 0 3.2rem;
  }
  .sub-tit {
    font-size: 4.8rem;
    font-weight: 800;
    line-height: 5.7rem;
    padding: 0;
  }
  .sub-txt-box {
    margin-top: 6.6rem;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .info-box {
    display: flex;
    row-gap: 1.2rem;
    flex-direction: column;
    margin-top: 2rem;
    dl {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      text-transform: uppercase;
    }
    dt {
      font-size: 1.5rem;
      font-weight: 500;
      color: #777;
    }
    dd {
      font-weight: 600;
      font-size: 1.6rem;
    }
  }
  .tag-box {
    display: flex;
    gap: 0.8rem;
    margin: 4.8rem 0;
    .tag {
      padding: 0 1.6rem;
      border-radius: $br-100;
      background-color: #f5f5f5;
      font-size: 1.5rem;
      color: #666;
      font-weight: 400;
      text-align: center;
      line-height: 3.6rem;
      &::before {
        content: '#';
        display: inline-block;
      }
    }
  }
  .visual-img-box {
    img {
      width: 100%;
    }
  }
  .next-page-box {
    position: relative;
    height: 32rem;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1.6rem;
      height: 100%;
      padding: 0 5.4rem;
      color: $white-color;
      font-size: 3.2rem;
      line-height: 3.8rem;
      font-family: 'Pretendard';
      background-color: rgba(0, 0, 0, 0.7);
      text-align: center;
      .label {
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        opacity: 0.7;
      }
    }
  }
  + .footer {
    margin-top: 0;
  }
}
.detail-area {
  .detail-cell {
    width: 100%;
    height: auto;
    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }
  }
}

/* ==========================================================================
	Media Queries for Responsive Design. (미디어 쿼리 분기점)
========================================================================== */

/* 테블릿 */
@media only screen and (min-width: 1024px) {
  /* work list */
  .work-wrap {
    .grid-item img {
      width: 100%;
    }
    .grid {
      box-sizing: border-box;
    }
    .grid-item {
      width: 50%;
      box-sizing: border-box;
      padding: 2rem;
    }
    .grid-item.width-50 {
      width: 50%;
    }
  }
  /* work */

  //br태그 show-hide
  .mobile-break {
    display: none;
  }
  .pc-break {
    display: inline-block;
  }

  .view-page {
    .inner {
      max-width: 100%;
    }
    .view-inner {
      padding: 0 10rem;
    }
    .sub-tit {
      padding: 0;

      font-size: 8rem;
      line-height: 9.5rem;
    }
    .sub-txt-box {
      margin-top: 11rem;
      font-weight: 500;
      font-size: 3.2rem;
      color: #555;
    }
    .info-box {
      column-gap: 5.7rem;
      flex-direction: row;
      margin-top: 2.4rem;
      dt {
        font-size: 1.6rem;
      }
      dd {
        font-size: 2rem;
      }
    }
    .tag-box {
      margin: 6rem 0;
      .tag {
        font-size: 1.8rem;
        line-height: 4rem;
      }
    }
    .next-page-box {
      // width: calc(100% + 16rem);
      // margin-left: -8rem;
      height: 50rem;
      background-attachment: fixed;
      a {
        row-gap: 2rem;
        font-size: 6rem;
        line-height: 7.1rem;
        .label {
          font-size: 2.4rem;
          line-height: 2.8rem;
        }
      }
    }
  }
}

/* pc */
@media only screen and (min-width: 1280px) {
  /* work list */
  .work-list {
    .cate-swiper {
      margin-top: 2.4rem;
      margin-bottom: 9rem;
      &.fixed {
        padding: 2rem 8rem;
      }
    }
    .work-sortItem {
      .lbl {
        font-size: 2.4rem;
        line-height: 4.5rem;
        padding: 0.8rem 2rem;
        color: $gray-color;
        &::before {
          content: '#';
        }
      }
    }
  }
  .view-page {
    .view-inner {
      padding: 0 26rem;
    }
  }

  .work-wrap {
    margin: 0 -2rem;
    .grid-item {
      width: 33.3333%;
      padding: 4rem 2rem;
    }
    .grid-item.width-50 {
      width: 50%;
    }
  }
}
